
//define brand colors
$brand-base-1: black;
$brand-base-2: white;
$brand-accent: yellow;

//define font styles
$brand-font: "inter", Arial, sans-serif;

//set colors
$bg-color: $brand-base-1;
$link-color: $brand-base-2;
$primary-font-color: $brand-base-2;
