
//define brand colors
/*
$brand-base-1: #23211d;
$brand-base-2: #d2d6d7;
$brand-accent: #cc4250;
$brand-accent-2: #324d5a;

$bg-color-light: $brand-base-2;
$link-color-light: $brand-base-1;
$primary-font-color-light: $brand-base-1;
$bg-color-dark: $brand-base-1;
$link-color-dark: $brand-base-2;
$primary-font-color-dark: $brand-base-2;


$link-hover: $brand-accent;


//define font styles
$brand-font: "inter", Arial, sans-serif;

//set colors
*/
