@import './brand.scss';


.caseStudySubHeading {
  margin-bottom: .8rem;
  font-size: .8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $brand-accent-2;
}


.caseStudyWrapper {
  h3 {
    margin-top: 3rem;
    margin-bottom: .5rem;
  }
  p {
    margin-top: .7rem;
  }
}
