
:root {
  --brand-base-1: #0f1a23;
  --brand-base-2: #d2d6d7;
  --brand-accent: #fa9963;
  --brand-accent-2: #324d5a;
  --brand-accent-2-200:  #98A6AC;
  --brand-font: "inter", Arial, sans-serif;
  --heading-space: 1.3rem;
  --text-line-spacing: 1.65rem;

}

@mixin global-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: var(--brand-font);
  background-color: var(--background-color);
  color: var(--font-color);
  a {
    color: var(--link-color);
  }
}

/*
body {
  @include global-body;
  background-color: $bg-color-light;
  color: $primary-font-color-light;
  font-family: $brand-font;
  a {
    color:$link-color-light;
  }
}

body.dark {
  @include global-body;
  background-color: $bg-color-dark;
  color: $primary-font-color-dark;
  font-family: $brand-font;
  a {
    color:$link-color-dark;
  }
}
*/

body {
  @include global-body;
  --background-color: var(--brand-base-2);
  --font-color: var(--brand-base-1);
  --link-color: var(--brand-base-1);
  --link-hover: var(--brand-accent);
  --subheading-color: var(--brand-accent-2);
}

body.dark {
  @include global-body;
  --background-color: var(--brand-base-1);
  --font-color: var(--brand-base-2);
  --link-color: var(--brand-base-2);
  --link-hover: var(--brand-accent);
    --subheading-color: var(--brand-accent-2-200);
}


* {
  box-sizing: border-box;
}




h1,h2,h3,h4 {
  margin-bottom: var(--heading-space);
  margin-top: 0;
}

@media only screen and (max-width: 375px){
  body {font-size: 20px;}
  h1 {font-size: 3rem;}
  h2 {font-size: 2rem;}
  h3 {font-size: 1.6rem;}
  h4 {font-size: 1.2rem;}
  .label{font-size: .7rem;}
}

@media only screen and (min-width: 375px) and (max-width: 600px){
  body {font-size: 20px;}
  h1 {font-size: 3.4rem;}
  h2 {font-size: 2.4rem;}
  h3 {font-size: 1.8rem;}
  h4 {font-size: 1.2rem;}
  .label{font-size: .7rem;}
}

@media only screen and (min-width: 600px){
  body {font-size: 18px;}
  h1 {font-size: 3.8rem;}
  h2 {font-size: 2.8rem;}
  h3 {font-size: 2rem;}
  h4 {font-size: 1.4rem;}
  .label{font-size: .8rem;}
}
h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

h4 {
  font-weight: 900;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

p {
    line-height: var(--text-line-spacing);
}


.label {
  font-size: .8rem;
}

a:hover {
  color: var(--link-hover);
}
