@import './brand.scss';


$heading-space: 1.3rem;
$text-line-spacing: 1.6rem;

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $bg-color;
  color: $primary-font-color;
  font-family: $brand-font;

}

* {
  box-sizing: border-box;
}

.content {
  float: none;
  padding: 160px 40px;
  max-width: 760px;
  margin: 0 auto;
  height: 100vh;
}


h1,h2,h3,h4 {
  margin-bottom: $heading-space;
  margin-top: 0;
}

@media only screen and (max-width: 375px){
  body {font-size: 20px;}
  h1 {font-size: 2.6rem;}
  h2 {font-size: 2rem;}
  h3 {font-size: 1.6rem;}
  h4 {font-size: 1.2rem;}
  .label{font-size: .7rem;}
}

@media only screen and (min-width: 375px) and (max-width: 600px){
  body {font-size: 20px;}
  h1 {font-size: 3rem;}
  h2 {font-size: 2.2rem;}
  h3 {font-size: 1.8rem;}
  h4 {font-size: 1.2rem;}
  .label{font-size: .7rem;}
}

@media only screen and (min-width: 600px){
  body {font-size: 18px;}
  h1 {font-size: 3.8rem;}
  h2 {font-size: 2.8rem;}
  h3 {font-size: 2rem;}
  h4 {font-size: 1.4rem;}
  .label{font-size: .8rem;}
}
h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

h4 {
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

p {
    line-height: $text-line-spacing;
}


.label {
  font-size: .8rem;
}

.caseStudySubHeading {
  margin-bottom: 3rem;
  font-size: .8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

a {
  color:$link-color;
}
