@import '../../styles/global.scss';

.wrapper {
  height: auto;
}

.main {
  padding: 160px 40px;
  max-width: 760px;
  margin: 0 auto;
  min-height: 100vh;
}

footer {
  display: block;
  padding: 20px;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 300;
}
