@import '../../styles/global.scss';

.navmenu {
  float: right;
  margin: 40px 40px;

  div {
    float: right;
    margin-left: 30px;
  }

  a {
    color: $link-color;
    text-decoration: none;
    font-weight: 900;
    font-size: 1rem;
  }

  a:hover {
    color: $brand-accent;
  }
}
