.contentStyle {
  h5 {
    margin-bottom: .4rem;
  }

  p {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--link-hover);
  }

  .bold {
    font-weight: 900;
  }


}
